<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
<body>

<h1>Новая версия 0.85!</h1>
<hr/>

<h2>Новые функции:</h2>
<ol>
  <li><b>Новая вкладка "График".</b> Отображает привычный график, аналогичный бумажному варианту. Перемещение по графику осуществляется с помощью кнопок в верхней части экрана, либо с помощью свайпов вверх/вниз. Число отображаемых дней определяется в настройках.</li>
  <li><b>Виджет "Календарь".</b> После установки новой версии в списке виджетов Вашего устройства добавится календарь с графиком дежурств, аналогичным соответствующей вкладке. Для обновления информации на виджете необходимо нажать по нему. </li>
  <li><b>Обновление, а не переустановка.</b> Теперь нет необходимости удалять приложение перед установкой новой версии - проблем с уведомлениями не будет при простом обновлении</li>
</ol>
<h2>Исправления:</h2>
<ol>
  <li>Исправлено отображение главной страницы у специалистов со скользящим графиком.</li>
  <li>Применены небольшие исправления, улучшающие общую стабильность работы</li>
</ol>
<h4><a href="https://disk.yandex.ru/d/QlIOffqTXAKkBQ">Актуальную версию программы всегда можно загрузить из самого приложения, или по этой ссылке</a> </h4>

</body>
</html>