<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
<body>

<h1>Новая версия: 0.86</h1>
<hr/>

<h2>Изменения:</h2>
<ol>
  <li>На вкладке "График" теперь не отображается персонал с пустыми строками. В случае, если строки пусты для всего персонала (например, на месяцы, на которые ещё не загружен график), отображается весь персонал службы. </li>
  <li>Новые виды работы: "Четвёрка", "Больничный", "Командировка". На данный момент актуально только для графиков, загруженных через РСП  </li>
</ol>
<h2>Исправления:</h2>
<ol>
  <li>Исправлено поведение виджета при переходе на новый месяц и исправлении графика. Теперь обновление дней происходит корректно.</li>
</ol>
<h4><a href="https://disk.yandex.ru/d/QlIOffqTXAKkBQ">Актуальную версию программы всегда можно загрузить из самого приложения, или по этой ссылке</a> </h4>

</body>
</html>