<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}"/>
  <link th:href="@{/styles/normalize.css}" rel="stylesheet" />
  <link th:href="@{/styles/button.css}" rel="stylesheet" />
  <link th:href="@{/styles/blocks.css}" rel="stylesheet" />
  <link th:href="@{/styles/input_text.css}" rel="stylesheet" />
  <link th:href="@{/styles/radio_button.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/input.js}"></script>
  <title>DispScheduler</title>
</head>
<body>
<div id="container">
  <div id="header">
    <img src="images/logo.png" height="180px" >
  </div>
  <br/>      <br/>
  <div id="body">
    <form method="POST" th:action="@{/addService}">
      <input type="text" name="name" placeholder="Название службы..."> <br/><br/>
      <input type="text" name="topic" placeholder="Тема для уведомлений..."><br/><br/>
      Сменный график (не скользящий)
      <div class="form_toggle">
        <div class="form_toggle-item item-1">
          <input id="fid-1" type="radio" name="type" value="1" checked>
          <label for="fid-1">Да</label>
        </div>
        <div class="form_toggle-item item-2">
          <input id="fid-2" type="radio" name="type" value="2">
          <label for="fid-2">Нет</label>
        </div>
      </div>
      <br/><br/>
      График добавляется путём экспорта из РСП
      <div class="form_toggle">
        <div class="form_toggle-item item-1">
          <input id="ffid-1" type="radio" name="rsp" value="1" checked>
          <label for="ffid-1">Да</label>
        </div>
        <div class="form_toggle-item item-2">
          <input id="ffid-2" type="radio" name="rsp" value="0">
          <label for="ffid-2">Нет</label>
        </div>
      </div>
      <br/>      <br/><br/>
      <button type="submit" class="myButton" style="horiz-align: right">Загрузить</button>
    </form>
    <div th:if="${message}">
      <h2 th:text="${message}"/>
    </div>
  </div>
  <div id="footer">
    <a style="margin-left: 10px" href="https://play.google.com/store/apps/details?id=com.VORONEZHRDU.DispScheduler&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"/>
    <img src="https://assets.website-files.com/60d5a8aafa930ee95a801fa0/60d5a8aafa930e51d7801fcf_google-play-badge.svg" width=180" height=95" alt="Доступно в Google Play">
    </a>
    <a style="margin-left: 10px" href="https://appgallery.huawei.com/app/C104864327"/>
    <img src="https://assets.website-files.com/60d5a8aafa930ee95a801fa0/60d5a8aafa930e8c95801fcc_huawei.svg" width=180" height=95" alt="Доступно в AppGallery">
    </a>
  </div>
</div>
</body>
</html>