<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
<body>

<h1>Загрузка формы графика дежурств</h1>

<hr/>

<form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
  <input type="file" name="file"/> <br/><br/>
  <button type="submit">Загрузить!</button>
</form>
<h4>Для загрузки графика из РСП необходимо экспортировать отчет стандартной формы</h4>
<hr/>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

</body>
</html>