<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}"/>
  <link th:href="@{/styles/select.css}" rel="stylesheet" />
  <link th:href="@{/styles/normalize.css}" rel="stylesheet" />
  <link th:href="@{/styles/button.css}" rel="stylesheet" />
  <link th:href="@{/styles/input.css}" rel="stylesheet" />
  <link th:href="@{/styles/blocks.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/input.js}"></script>
  <title>DispScheduler</title>
</head>
<body>
<div id="container">
  <div id="header">
    <img src="images/logo.png" height="180px" >
  </div>
  <br/>      <br/>
  <div id="body">
    <form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
      <div class="file_upload" >
        <button type="button">Выбрать</button>
        <div>Файл не выбран</div>
        <input type="file" name="file">
      </div>
      <p><em>Для загрузки графика из РСП необходимо экспортировать отчет стандартной формы в Excel</em></p>
      <br/>
      <select class="select-css" type="rduType" name="rduType" th:object="${cdata}" >
        <option selected>Выберите службу (актуально только при загрузке графика из РСП)</option>
        <option th:each="id  : ${cdata}"
                th:text = "${id}"
                th:value="${id}">option</option>
      </select>
      <br/>
      <button type="submit" class="myButton" style="horiz-align: right">Загрузить</button>
    </form>
    <div th:if="${message1}">
      <h2 th:text="${message1}"/>
      <h2 th:text="${message2}"/>
      <h3 th:text="${message3}"/>
    </div>
  </div>
  <div id="footer">
    <a style="margin-left: 10px; margin-top: 15px" href="https://play.google.com/store/apps/details?id=com.VORONEZHRDU.DispScheduler&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"/>
    <img src="images/GPlayLogo.png" style="padding-top: 15px" height="70" alt="Доступно в Google Play">
    </a>
    <a style="margin-left: 10px" href="https://appgallery.huawei.com/app/C104864327"/>
    <img src="images/HAppGalleryLogo.png" height="70" alt="Доступно в AppGallery">
    </a>
  </div>
</div>
</body>
</html>